.clear-btn{
    position: absolute !important;
    bottom: 14px !important;
    right: 18px !important;
    width: 90px !important;
    height: 40px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    color: white !important;
    background-color: #1f65e6 !important;
    border: none;
    border-radius: 4px ;
    transition: 0.3s !important;
    
  }
  .output-box{
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    color: white;
    position: relative;
  }
  .output-box pre{
    font-size: 15px !important;
    white-space: pre-wrap !important;
  }
  h4{
    color: #afec3f !important;
  }
  #code-inp{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #242424;
    color: whitesmoke;
    padding: 5px;
  }
  #code-inp:focus{
    outline: none !important;
  }
  .run-btn{
    position: absolute !important;
    bottom: 10px !important;
    right: 800px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    background-color: #afec3f !important;
    border: none ;
    border-radius: 4px ;
    transition: 0.3s !important;
   
  }
  .run-btn:active{
    background-color: #6e9427 !important;
  }